.header {
    font-family: Arial;
}
.sub-headers {

}
.sections {
 border: 2px solid #a2a2a6;
 padding: 10px
}
.items div {
    display: block;
    
}
.item-color {

}
.item-hex {

}
.font-header {

}
.font-p {

}
body {
    margin: 0px 156px;
}